html, body, ul, ol, li, 
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  mrgin:0;
  padding:0;
  list-style: none;
}

body {
  font-family:'Lucida Sans'
}

.header {
  height: 90px;
  background-color: #26d0c9;
  color;white;
}
.header-logo {
  font-size:36px;
  padding: 20px 40px;
  float:left;
}

.header-list li {
  float:left;
  padding: 33px 20px;
}

.copy-container {
  padding-top: 50px;
  padding-right:80px ;
  padding-left:80px;
  height:500px;
}

.copy-container h1 {
  font-size:100px;
}

.copy-container h2 {
  font-size:60px;
}

.copy-container span {
  color:#ff4a4a
}

.contents {
  margin: 50px 80px;
  height:500px;

}
.contents h3 {
  font-size: 28px;
  border-bottom: 2px solid coral;
  margin-bottom: 50px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-item {
  float:left;
  margin-left: 40px;
}

.contact-form {
  margin: 100px 80px;
}

.contact-form p, input, textarea{
  width:400px;
}

.contact-form h3 {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom:2px dotted crimson;
}

.contact-form p {
  padding-bottom: 10px;
}

input, textarea {
  padding:20px;
  margin-bottom: 30px;
  width: 400px;
}

.submit {
  font-size: 18px;
  color:crimson;
  width: 200px;
}

.contact-form span {
  color:crimson;
}

footer {
  height: 120px;
  padding: 40px;
  color:white;
  background-color: midnightblue;
}

.footer-logo {
  font-size:32px;
  float:left;
}

.footer-list {
  float:right;
}

.footer-list li {
  padding-bottom: 20px ;
}
